# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Rider / Visual Studio
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OS specific
.DS_Store
Thumbs.db

# Crash and profiler files
*.stackdump
*.dmp
*.diag
